{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


	<section class="user-login section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="block">
						<!-- Image -->
						<div class="image align-self-center"><img class="img-fluid"
								src="{% static 'images/Login/front-desk-sign-in.jpg' %}" alt="desk-image"></div>
						<!-- Content -->
						<div class="content text-center">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo1.png' %}" alt=""></a>
							</div>
							<div class="title-text">
								<h3>Sign in to To Your Account</h3>
							</div>
							<form class="form-signin" method="post" action="{% url 'accounts:login' %}">
								{% csrf_token %}
								<!-- Username -->
								<input class="form-control main" type="text" name="username" placeholder="Username"
									required autofocus>
								<!-- Password -->
								<input class="form-control main" type="password" name="password" placeholder="Password"
									required>
								<!-- Submit Button -->
								<button class="btn btn-main-sm">sign in</button>
							</form>
							{% if messages %}
							{% for message in messages %}
							<div class="btn btn-rounded-icon">
								{{message}}
							</div>
							{% endfor %}
							{% endif %}
							<div class="new-acount">
								<p>Don't Have an account? <a href="{% url 'accounts:signup' %}"> SIGN UP</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>

{% endblock %}