{% extends 'base_dashboard.html' %}
{% load static %}
{% load WalletZeply_tags %}
{% block content %}

<section class="user-login section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block">

                    <div class="content text-center">
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'images/logo1.png' %}" alt=""></a>
                        </div>
                        <div class="title-text">
                            <h3>Create a Wallet</h3>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        <div class="alert alert-error">
                            <h4>Please fix the following errors</h4>
                            <ul>
                                {% for field in form %}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% if form.non_field_errors %}
                            {{ form.non_field_errors }}
                            {% endif %}
                        </div>
                        {% endif %}
                        <form method="post" action="{% url 'WalletZeply:create_wallet' %}">

                            {% csrf_token %}
                            <!-- Username -->
                            <input type="text" name="wallet_name" class="form-control main" placeholder="Wallet name"
                                required>
                            <input type="text" name="wallet_des" class="form-control main"
                                placeholder="Wallet description" required>
                            <input type="hidden" name="wallet_user" class="form-control main" placeholder="User Id"
                                required>

                            <p type=" hidden">{% CountWalletUser request.user.id  as Count%}</p>

                            {% if Count == True %}
                            <button class="btn btn-main-md" type="submit">Create</button>
                            
                            {% else %}
                            <p><a class="nav-link dropdown-toggle">You have two wallet</a></p>
                            {% endif %}


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}